<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index_style.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{/img/soviet.png}" type="image/x-icon">
    <title>Редактирование товара</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="general_div">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                    aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/index1">Главная страница</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product">Каталог товаров</a>

                    <li class="nav-item">
                        <a class="nav-link" href="/auth/about">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">Авторизация</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="about">
        <h5>Редактирование товара</h5>
        <form th:method="POST" th:action="@{/admin/product/edit/{id}(id=${editProduct.getId()})}"
              th:object="${editProduct}">
            <label for="title">Введите наименование: </label>
            <input type="text" th:field="*{title}" placeholder="Наименование" id="title">
            <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
            <br>
            <br>
            <label for="description">Введите описание: </label>
            <textarea th:field="*{description}" placeholder="Описание" id="description"></textarea>
            <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            <br>
            <br>
            <label for="price">Введите цену: </label>
            <input type="number" th:field="*{price}" min="1" step="0.00" id="price">
            <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
            <br>
            <br>
            <label for="warehouse">Введите информацию о складе: </label>
            <input type="text" th:field="*{warehouse}" placeholder="Склад" id="warehouse">
            <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
            <br>
            <br>
            <label for="category">Выберите категорию товара: </label>
            <select name="category" th:field="*{category}" id="category">
                <div th:each="element : ${category}">
                    <option th:text="${element.getName()}" th:value="${element.getId()}"></option>
                </div>
            </select>
            <br>
            <br>
            <label for="seller">Введите данные о продавце: </label>
            <textarea th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
            <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
            <br>
            <br>
            <input class="w-100 btn btn-lg btn-primary" style="width:200px!important" type="submit"
                   value="Редактировать">
            <br>
            <br>
            <div>
                <a class="w-100 btn btn-lg btn-primary" style="width:200px!important"
                   onclick="javascript:history.back(); return false;">Назад</a>
            </div>
        </form>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-muted">© 2022 SovietPC</p>
                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="/auth/index1" class="nav-link px-2 text-muted">Главная</a></li>
                    <li class="nav-item"><a href="/product" class="nav-link px-2 text-muted">Каталог</a></li>
                    <li class="nav-item"><a href="/auth/about" class="nav-link px-2 text-muted">Новости</a></li>
                    <li class="nav-item"><a href="/auth/login" class="nav-link px-2 text-muted">Авторизация</a></li>
                </ul>
            </footer>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>