<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index_style.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{/img/soviet.png}" type="image/x-icon">
    <title>Личный кабинет пользователя</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="general_div">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                    aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/index1">Главная страница</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product">Каталог товаров</a>

                    <li class="nav-item">
                        <a class="nav-link" href="/auth/about">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">Авторизация</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="about">
        <h5>Личный кабинет пользователя</h5>
        <!--<a href="/logout">Выйти из личного кабинета</a>-->
        <form method="post" th:action="@{/logout}">
            <input class="w-100 btn btn-lg btn-primary" style="width:300px!important" type="submit"
                   value="Выйти из личного кабинета">
        </form>
        <p></p>
        <form method="get" th:action="@{/cart}">
            <input class="w-100 btn btn-lg btn-primary" style="width:200px!important" type="submit" value="Корзина">
        </form>
        <p></p>
        <form method="get" th:action="@{/orders}">
            <input class="w-100 btn btn-lg btn-primary" style="width:200px!important" type="submit" value="Заказы">
        </form>

        <form th:method="POST" th:action="@{/product/search1}">
            <fieldset>
                <legend>Выберите параметры для сортировки, поиска, фильтрации</legend>
                <br>
                <label for="search">Поиск по наименованию</label>
                <input type="search" name="search1" th:value="*{value_search1}" id="search">
                <br>
                <p>Цена, р</p>
                <label for="from1">От</label>
                <input type="text" name="from1" th:value="*{value_price_from1}" id="from1">
                <label for="to1">До</label>
                <input type="text" name="to1" th:value="*{value_price_to1}" id="to1">
                <br>
                <br>
                <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
                <label for="ascending_price">Отсортировать по возрастанию цены</label>
                <br>
                <br>
                <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">
                <label for="descending_price">Отсортировать по убыванию цене</label>
                <br>
                <hr>
                <p>Категория товаров</p>
                <input type="radio" id="PC" name="category" value="PC">
                <label for="PC">Товар</label>
                <br>
                <br>
                <input type="radio" id="Other" name="category" value="Other">
                <label for="Other">Цифровой продукт</label>
                <br>
                <br>
                <input type="submit" class="w-100 btn btn-lg btn-primary" style="width:150px!important" value="Найти">
            </fieldset>
        </form>

        <h5>Результат: </h5>
        <div th:each="product : ${search_product1}">
            <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
            <br>
            <br>
            <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
            <p th:text="'Цена: ' + ${product.getPrice()}"></p>
        </div>
        <hr>

        <h5>Доступные товары: </h5>
        <div class="product" th:each="product : ${products}">
            <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
            <br>
            <br>
            <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}" id="title"></a>
            <p th:text="'Цена: ' + ${product.getPrice()}"></p>
            <a th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить в корзину</a>
<!--            <br>
            <br>-->
            <hr>
        </div>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-muted">© 2022 SovietPC</p>
                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="/auth/index1" class="nav-link px-2 text-muted">Главная</a></li>
                    <li class="nav-item"><a href="/product" class="nav-link px-2 text-muted">Каталог</a></li>
                    <li class="nav-item"><a href="/auth/about" class="nav-link px-2 text-muted">Новости</a></li>
                    <li class="nav-item"><a href="/auth/login" class="nav-link px-2 text-muted">Авторизация</a></li>
                </ul>
            </footer>
        </div>

    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>