<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/index_style.css}">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
		  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="shortcut icon" th:href="@{/img/soviet.png}" type="image/x-icon">
	<title>Интернет магазин SovietPC</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="general_div">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarsExample04">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link" href="/auth/index1">Главная страница</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/product">Каталог товаров</a>
					<li class="nav-item">
						<a class="nav-link" href="/auth/about">Новости</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/auth/login">Авторизация</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="about">
	<H3>О SovietPC</H3>
	<h4 >11 Декабря 2022</h4>
	<p>Это Интернет-магазин посвещенный продаже советских ЭВМ и других дополнений для ЭВМ тех годов.
	<p>Новостей пока нету.
		<div class="container">
			<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
				<p class="col-md-4 mb-0 text-muted">© 2022 SovietPC</p>
				<ul class="nav col-md-4 justify-content-end">
					<li class="nav-item"><a href="/auth/index1" class="nav-link px-2 text-muted">Главная</a></li>
					<li class="nav-item"><a href="/product" class="nav-link px-2 text-muted">Каталог</a></li>
					<li class="nav-item"><a href="/auth/about" class="nav-link px-2 text-muted">Новости</a></li>
					<li class="nav-item"><a href="/auth/login" class="nav-link px-2 text-muted">Авторизация</a></li>
				</ul>
			</footer>
		</div>
	</div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>